<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <link rel="stylesheet" href="css/app.css"/>

  <!-- vendor scripts -->
  <script src="vendor/underscore.js"></script>
  <script src="vendor/jquery.js"></script>
  <script src="vendor/angular.js"></script>

  <!-- app scripts -->
  <script src="js/app.js"></script>
  <script src="js/services/peopleSearchSrv.js"></script>
  <script src="js/controllers/PeopleListCtrl.js"></script>
  <script src="js/controllers/PersonCtrl.js"></script>
</head>
<body>
<div class="main">

  <h3>Person Controller</h3>
  <div ng-controller="PersonCtrl">
    <h3>Name: {{person.name}}</h3>
    <input ng-model="person.name" type="text"/>
  </div>

  <br/>
  <br/>
  <br/>
  <hr/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <h3>People List Controller</h3>
  <div ng-controller="PeopleListCtrl">
    <ul>
      <li ng-repeat="person in people" ng-click="greetWith(person)">
        Name: {{person.name}}
      </li>
    </ul>
    <button ng-click="createNew()">Add</button>
  </div>

</div>
</body>
</html>
